{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-xs-12">
        <h1>Liste des utilisateurs</h1>
        <span><a href="{{ path('user_new') }}" class="btn btn-plus">Ajouter un utilisateur</a></span>
    </div>


    <div class="row">
        <div class="col-xs-3">id</div>
        <div class="col-xs-3">Nom</div>
        <div class="col-xs-3">Mail</div>
    </div>

    {% for user in users %}
        <div class="row">
            <div class="col-xs-3"><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></div>
            <div class="col-xs-3">{{ user.name }}</div>
            <div class="col-xs-3">{{ user.email }}</div>
            <div class="col-xs-3">
                <a href="{{ path('user_show', { 'id': user.id }) }}" class="btn btn-plus">Voir plus</a>
                <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-edit">Modifier</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}
